In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv(
        filepath_or_buffer = "../dataset/Dataset.csv",
        header = 11,
        skiprows = [12],
        index_col = False,
        low_memory = False)

In [5]:
dataset = dataset[["ID", "SecType", "Date", "Time", "Last", "Trading time", "Trading date"]]
dataset = dataset.rename(columns = {"Trading date" : "TradingDate", "Trading time" : "TradingTime"})
dataset

,ID,SecType,Date,Time,Last,TradingTime,TradingDate
0,FREN4.FR,I,08-11-2021,00:00:00.000,0.0,00:00:00.000,NaN
1,GPE.FR,E,08-11-2021,02:00:00.000,0.0,00:00:00.000,08-11-2021
2,GALIM.FR,E,08-11-2021,08:06:31.000,0.0,00:00:00.000,08-11-2021
3,SK.FR,E,08-11-2021,05:14:00.000,0.0,00:00:00.000,08-11-2021
4,GHCPR.FR,I,08-11-2021,00:00:00.000,0.0,00:00:00.000,NaN
...,...,...,...,...,...,...,...
4143281,A2QAME.ETR,E,13-11-2021,17:35:56.754,0.0,00:00:00.000,NaN
4143282,BASF11.ETR,E,13-11-2021,17:35:26.094,0.0,00:00:00.000,NaN
4143283,A2YN99.ETR,E,13-11-2021,17:36:06.424,0.0,00:00:00.000,NaN
4143284,A3E5C0.ETR,E,13-11-2021,17:36:26.884,0.0,00:00:00.000,NaN
4143285,A2N6BH.ETR,E,13-11-2021,17:35:48.994,0.0,00:00:00.000,NaN

In [6]:
nullDate = dataset[dataset["Date"].isnull()]["Date"].count()
nullTime = dataset[dataset["Time"].isnull()]["Time"].count()
nullTradingTime = dataset[dataset["TradingTime"].isnull()]["TradingTime"].count()
nullTradingDate = dataset[dataset["TradingDate"].isnull()]["TradingDate"].count()

(nullDate, nullTime, nullTradingDate, nullTradingTime)

(0, 0, 0, 0)

In [7]:
cleanedDataset = dataset
cleanedDataset = dataset[dataset["TradingTime"] != "00:00:00.000"]
cleanedDataset = cleanedDataset[cleanedDataset["TradingDate"].notnull()]
cleanedDataset

,ID,SecType,Date,Time,Last,TradingTime,TradingDate
4182,WAGA.FR,E,08-11-2021,09:00:00.000,29.90,09:00:00.199,08-11-2021
4183,WAGA.FR,E,08-11-2021,09:00:00.000,29.90,09:00:00.199,08-11-2021
4184,AJAX.NL,E,08-11-2021,09:00:00.000,15.30,09:00:00.199,08-11-2021
4185,AJAX.NL,E,08-11-2021,09:00:00.000,15.30,09:00:00.199,08-11-2021
4186,AJAX.NL,E,08-11-2021,09:00:00.000,15.30,09:00:00.199,08-11-2021
...,...,...,...,...,...,...,...
4116627,FAST.NL,E,12-11-2021,17:39:51.000,55.40,17:39:51.864,12-11-2021
4116628,ALLFG.NL,E,12-11-2021,17:39:54.000,17.55,17:39:54.943,12-11-2021
4116629,ALLFG.NL,E,12-11-2021,17:39:54.000,17.55,17:39:54.943,12-11-2021
4116631,RI.FR,E,12-11-2021,17:39:59.000,209.50,17:39:59.584,12-11-2021
4116632,RI.FR,E,12-11-2021,17:39:59.000,209.50,17:39:59.584,12-11-2021

In [8]:
frNum = cleanedDataset[cleanedDataset["ID"].str.endswith(".FR")]["ID"].count()
nlNum = cleanedDataset[cleanedDataset["ID"].str.endswith(".NL")]["ID"].count()
etrNum = cleanedDataset[cleanedDataset["ID"].str.endswith(".ETR")]["ID"].count()

(frNum, nlNum, etrNum)

(1088999, 1082273, 0)

In [9]:
nullLastNum = cleanedDataset[cleanedDataset["Last"].isnull()]["Last"].count()
nullLastNum

0

In [14]:
query_1 = dataset[(dataset["SecType"] == "E") & (dataset["ID"].str.startswith("G")) & (dataset["ID"].str.endswith(".FR"))]["TradingDate"].drop_duplicates()
query_1

1          08-11-2021
738182            NaN
781224     09-11-2021
1630562    10-11-2021
2526656    11-11-2021
3341928    12-11-2021
4142703    13-11-2021
Name: TradingDate, dtype: object

In [17]:
query_1 = dataset[(dataset["SecType"] == "E") & (dataset["ID"].str.startswith("G")) & (dataset["ID"].str.endswith(".FR")) & (dataset["TradingTime"] != "00:00:00.000")].drop_duplicates()
print(query_1)

              ID SecType        Date          Time     Last   TradingTime  \
5408      GDS.FR       E  08-11-2021  09:00:01.000   22.600  09:00:01.333
5412      GOE.FR       E  08-11-2021  09:00:01.000   15.300  09:00:01.499
5427      GOE.FR       E  08-11-2021  09:00:01.000   15.300  09:00:01.500
5845      GFC.FR       E  08-11-2021  09:00:03.000  124.400  09:00:03.382
5886      GFC.FR       E  08-11-2021  09:00:03.000  124.450  09:00:03.789
...          ...     ...         ...           ...      ...           ...
4107503   GLO.FR       E  12-11-2021  17:35:18.000   19.440  17:35:18.195
4111699  GNFT.FR       E  12-11-2021  17:35:25.000    3.142  17:35:25.551
4112056   GOE.FR       E  12-11-2021  17:35:26.000   16.260  17:35:26.738
4112451   GBT.FR       E  12-11-2021  17:35:28.000   37.000  17:35:28.399
4113987   GET.FR       E  12-11-2021  17:35:29.000   13.795  17:35:29.887

        TradingDate
5408     08-11-2021
5412     08-11-2021
5427     08-11-2021
5845     08-11-2021
5886     08-11-2021
...             ...
4107503  12-11-2021
4111699  12-11-2021
4112056  12-11-2021
4112451  12-11-2021
4113987  12-11-2021

[43398 rows x 7 columns]